*{
    margin:auto;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins' , sans-serif;
    
}

body{
    overflow-x: hidden;
}
.container-1{

    background-color: white;
    margin-top:20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{

    display:flex;
    list-style: none;
    margin-left:68%;
 
}

nav li{
    padding-left:15px;
    padding-right:30px;
    opacity:0.7;
}
nav h3{
    position:absolute;
    left:13%;
    font-size: 28px;
    color: rgb(54, 156, 224);

}

a{
    color: silver;
    text-decoration:none;
}


.span-before span{
    position: relative;
}

.span-before span::before{
    content:" ";
    position: absolute;
    top: -22px;
    left: -27px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.616);
    z-index: -1;
}



.circul{  
    
    width: 38%;
    height: 20%;
    position:absolute;
    font-size: 72px;
    top: 41%;
    left: 13%;
    line-height:70px;
    background-color:hh;
    color: rgba(0, 0, 255, 0.795);
    border-radius: 30px;
}

.img-1{

    position: absolute;
    top: 21%;
    right: 212px;
    filter: drop-shadow(7px 7px 0px blue);
}

.btn{
    font-size: 17px;
    position: absolute;
    top:73%;
    left: 12%;
    width: 160px;
    height: 50px;
    border-radius: 7px;
}

.btn-2{
    font-size: 17px;
    position: absolute;
    top:73%;
    left: 24%;
    width: 160px;
    height: 50px;
    border-radius: 7px;
}

/* Container-2 */
.container-2{

    position: absolute;
    top:115%;
    height:50%;
    width:100%;
     display:grid;
     flex-direction: column;
     padding-top:35px;
     color:white;
     font-weight:bold;
    background-color: #2e4362;
}

.subtitle{
    padding-right:70%;
    color:white;
    
}

.card-1{

    position: absolute;
    width:18%;
    height:54%;
    line-height:25px;
    left:13%;
    padding:24px 15px;
   
border-radius: 10px;
    background-color: white;
    color:black;
}

#card-img-1{

    padding-bottom: 15px;
    margin-left:65px;
    width:100px;
}

.card-1 p{
    margin-top:10px;
    margin-left:15px;
}

.card-2{

    position: absolute;
    width:18%;
    height:54%;
    line-height:25px;
    left:40%;
    padding:24px 15px;
border-radius: 10px;
    background-color: white;
    color:black;
}

#card-img-2{

    padding-bottom: 15px;
   margin-left:65px;
   width:100px;
}

.card-2 p{
   margin-top:10px;
   margin-left:15px;
}

.card-3{

    position: absolute;
    width:18%;
    height:54%;
    line-height:25px;
    left:67%;
    padding:24px 15px;
border-radius: 10px;
    background-color: white;
    color:black;
}

#card-img-3{

    padding-bottom: 15px;
   margin-left:65px;
   width:100px;
}

.card-3 p{
   margin-top:10px;
   margin-left:15px;
}


.container-3{
    position: absolute;
    top:165%;
    width: 100%;
    margin-top:126px;
     height:80%;
   
    

}


.subtitle-3{
    margin-left: 12%;
    font-size: 30px;
    margin-top: -109px;
    position: absolute;
    top: 10%;
    padding: 1rem;
    width: 100%;
    color: rgb(54, 156, 224);
    font-weight: bold;
}



span::before{
    content:" ";
    position: absolute;
    top: -60px;
    left: -37px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.055);
    z-index: -1;
}

.Project-h1{
    margin-top: 9%;
    margin-left: 13%;
    margin-bottom:10px;
}

.Project-p{
margin-top: 10px;
margin-left:13%;
width:38%;
font-size: 17px;
font-weight:bold;
}


.btn-3{
    font-size: 17px;
    position: absolute;
    top:37%;
    left: 11.5%;
    width: 160px;
    height: 50px;
    border-radius: 7px;
}

.btn-4{
    font-size: 17px;
    position: absolute;
    top:37%;
    left: 23.5%;
    width: 160px;
    height: 50px;
    border-radius: 7px;
}

.img-2{

    position: absolute;
    top:5%;
    right:190px;
    filter: drop-shadow(7px 7px 0px blue);
}

.link a{
    position: absolute;
    top:60%;
    font-size:20px;
    left: 40%;
    color: blue;
    opacity:1;
}


/*About file  coding here */

.about-1{

    width: 75%;
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 12%;
    padding:1% 2%;
    background-color: #2e4362;
    color: white;
    
}

#about-img{

   filter:  drop-shadow(7px 7px 0px rgb(54, 156, 224));
}

.about-title h2{

    position: absolute;
    top:19%;
    left:29%;
    color: rgba(192, 192, 192, 0.692);
    opacity: 0.8;
    font-size:2rem;
}

.about-title h4{

    position: absolute;
    top:25%;
    left:29%;
    font-size:1.5rem;
   
    width:56%;
    color: white;
    padding-top:5px;
    font-weight: bold;
    padding-bottom: 1rem;


}

.span-text{

    color:rgb(54, 156, 224);
}
#span-line-1{
 line-height:60px;
}
#span-line-2{
    line-height:40px;
}

.my-skill{
    margin:2% 14%;
    
    
}
.skill-des{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:7%;
}

.my-skill h1{
   font-size:2rem;
   color: rgb(54, 156, 224);
   opacity:0.5;
   padding-bottom:5px;
   
   
}

.skill-detailed-1 h3{

    margin-top:35px;
    font-size: 25px;
    margin-left:-330%;
    opacity:0.5;
}
.skill-detailed-1 ul{
    margin-top:10px;
    margin-left:-230px;
    padding:10px 15px;
    font-size:19px;
}

.skill-detailed-2 h3{

    margin-top:35px;
    font-size: 25px;
    margin-left:-240%;
    opacity:0.5;
}

.skill-detailed-2 ul{
    margin-top:10px;
    margin-left:-170px;
    padding:10px 15px;
    font-size:19px;
}

.skill-detailed-3 h3{

    margin-top:35px;
    font-size: 25px;
    margin-left:-70%;
    opacity:0.5;
}

.skill-detailed-3 ul{
    margin-top:10px;
    margin-left:-70px;
    padding:10px 15px;
    font-size:19px;
}

.workflow{
    background-color:rgb(54, 156, 224);
    width: 75%;
    margin-top: 3%;
    margin-left:11%;
    margin-right: 12%;
    padding:1% 2%;
    padding-bottom:4%;
    color: white;
}

.workflow h2{
    font-size: 2rem;
    margin-left:1%;
    margin-top:7%;  
    opacity:0.7; 
}

.workflow ul{
    margin-left:4%;
    margin-top:10px;
    line-height:45px;
    font-weight: bold;
    font-size: 1.5rem;

}

.grid{
    display:grid;
    columns: 1/4;

}
.grid-1{
    margin-left:75%;
    margin-top: -27%;

}
.grid-2{
    margin-left:75%;
    margin-top:-6%;

}
.grid-3{
    margin-left:88%;
    margin-top:-12%;
}

.about-footer{
 
    width:100%;
    background-color:#2e4362;
    padding-top:5%;
    padding-bottom:3%;
}

.about-footer h2{
     
    margin-top:-3%;
    margin-left:40%;
    color:white;
    font-weight: bold;
    font-size:20px;
}
.fa-github{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:42%;
}

.fa-instagram{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}
.fa-linkedin-in{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}

.fa-twitter{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}

/*Works file coding is here*/

nav{
    margin-top:15px;
}

.work-header{
    margin-top:4%;
    margin-left:13%;
    margin-bottom:3%;
}

.work-header h1{
    position: relative;
    font-size:30px;
    opacity:0.7;
    
}

.work-header h1::before{
    content:" ";
    position: absolute;
    top:-50px;
    left: -26px;
    width:150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.158);
    z-index: -1;
    font-size:30px;
}

.work-header h3{
    margin-top:8%;
    font-size:30px;
    font-weight: bold;
}

.work-header p{
    margin-top:2%;
    width:46%;
    margin-left:0%;
    line-height:25px;
}

.work-header img{
    margin-top:-15%;
    margin-left:50%;
}

#btn-5{
    position: absolute;
    top:55%;
    font-size:30px;
}

#btn-6{
    
        position: absolute;
        top:55%;
        font-size:30px;
        left:25%;
}

.work-header-2{
    margin-top:7%;
    margin-left:13%;
    padding-top:6%;
    padding-bottom:2%;
    padding-left:8%;
    padding-right:2%;
    width:74%;
    background-color:rgba(64, 137, 248, 0.5);

}

#work-title-2{
    font-size:40px;
    margin-left:60%;
    font-weight: bold;
}

.work-header-2 p{
   
    margin-left:60%;
    margin-top:5px;
    font-size:20px;
  
}

.work-header-2 img{
    margin-top:-18%;
    margin-left:-10%;
}

#btn-7{
    position: absolute;
    top:117%;
    left:59%;
}

#btn-8{
    position: absolute;
    top:117%;
    left:70%;
}


.work-footer h2{
     
    margin-top:-2%;
    margin-left:39%;
    color:white;
    font-weight: bold;
    font-size:20px;
}
.fa-github{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:43%;
}

.fa-instagram{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}
.fa-linkedin-in{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}

.fa-twitter{
    color: white;
    font-size:15px;
    margin-top:10px;
    margin-left:1%;
}

.work-footer{
 
    width:100%;
    background-color:#2e4362;
    padding-top:5%;
    padding-bottom:3%;
}
